#herosec {
  position: relative;
}

.hero-pin {
  position: sticky;
  top: 0;
  z-index: 1;
}

#mainsec {
  position: sticky;
  top: 0;
  z-index: 2000;
}


/* accessories fade in */

.accessoriessection {
  clip-path: inset(0 100% 0 0);
  animation: fadein linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.partsection {
  clip-path: inset(0 0 0 100%);
  animation: fadeinpart linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes fadein {
  from {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
    filter: blur(3px);
  }

  to {
    clip-path: inset(0 0% 0 0);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes fadeinpart {
  from {
    clip-path: inset(0 0 0 100%);
    opacity: 0;
    filter: blur(3px);
  }

  to {
    clip-path: inset(0 0 0 0%);
    opacity: 1;
    filter: blur(0);
  }
}

#fadeup {
  animation: fadeup linear forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}

@keyframes fadeup {
  0% {
    opacity: 0;
    transform: translateY(60%);
  }

  70% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.cursor {
  height: 15px;
  width: 15px;
  background: #cc3635;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 999999999;
  display: none;
}

.cursor.button {
  transform: scale(5);
  mix-blend-mode: hard-light;
  filter: blur(8px);
  display: block;
  cursor: none;
  /* transition: .2s ease-in-out; */
}

.cursor.none {
  display: none;
}