#herosec {
  position: relative;
}

.hero-pin {
  position: sticky;
  top: 0;
  z-index: 1;
}

#mainsec {
  position: sticky;
  top: 0;
  z-index: 2000;
}


/* accessories fade in */

.accessoriessection {
  clip-path: inset(0 100% 0 0);
  animation: fadein linear both;
  animation-timeline: view();
  animation-range: entry 20% entry 100%;
}

@keyframes fadein {
  from {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
    filter: blur(3px);
  }

  to {
    clip-path: inset(0 0% 0 0);
    opacity: 1;
    filter: blur(0);
  }
}


#accessory {
  position: relative;
  left: 0;
  z-index: 1;
}

#contact {
  position: absolute;
  top: 0;
  z-index: 2000;
  animation: fadeleft linear both;
  animation-timeline: view();
  animation-range: contain 30% contain 70%;
}

@keyframes fadeleft {
  from {
    transform: translateX(110%);
  }

  to {
    transform: translateX(0);
  }
}

.cursor {
  height: 15px;
  width: 15px;
  background: #cc3635;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 999999999;
  display: none;
}

.cursor.button {
  transform: scale(5);
  mix-blend-mode: hard-light;
  filter: blur(8px);
  display: block;
  /* transition: .2s ease-in-out; */
}

.cursor.none {
  display: none;
}